<div th:fragment="footer">
    <footer>
      <div class="bg-secondary text-white">.
        <div class="container">
            <div class="row">

                <div class="col-md">
                    <h3>Curabitur</h3>
                    <ul class="list-unstyled three-column">
                        <li>Emauris</li>
                        <li>Kfringilla</li>
                        <li>Oin magna sem</li>
                        <li>Kelementum</li>
                    </ul>
                </div>

                <div class="col-md">
                    <h3>Fusce</h3>
                  <ul class="list-unstyled three-column">
                    <li>Ecosectetur</li>
                    <li>Ksollicitudin</li>
                    <li>Omvulputate</li>
                    <li>Nunc fringilla tellu</li>
                  </ul>
                </div>

              <div class="col-md">
                <h3>Kontakt</h3>
                <ul class="list-unstyled three-column">
                  <li>Peakontor: Tallinnas</li>
                  <li>Väike-Ameerika 1, 11415 Tallinn</li>
                  <li>Telefon: 605 4450</li>
                  <li>Faks: 605 3186</li>
                </ul>
              </div>

              <div class="col-md">
                <h3></h3>
                <ul class="list-unstyled three-column">
                  <li>Harukontor: Võrus</li>
                  <li>Oja tn 7 (külastusaadress)</li>
                  <li>Telefon: 605 3330</li>
                  <li>Faks: 605 3155</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </footer>
</div>

